@page
@model FribergCarRentalsRazor.Pages.Cars.CarDetailsModel

@{
    ViewData["Title"] = "Details";
    var userRole = HttpContext.Request.Cookies["UserRole"];
}

<h1>Detaljer</h1>

<div>
    <hr />
    <img src="@Html.DisplayFor(model => model.Car.Pic)" width="70%" />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Color)
        </dd>
    </dl>
</div>
<div>
    @if (userRole == "Admin")
    {
        <div>
            <a asp-page="/Admin/CarEdit" asp-route-id="@Model.Car?.CarId">Ändra</a> |
        </div>
    }
    <div>
        <a asp-page="/Cars/CarIndex">Tillbaka till bilar</a>
    </div>
</div>
