@page
@model FribergCarRentalsRazor.Pages.Bookings.BookingDetailsModel

@{
    ViewData["Title"] = "Details";
    var userRole = HttpContext.Request.Cookies["UserRole"];
}

<h1>Detaljer</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.EndDate)
        </dd>
    </dl>
</div>
@if (userRole == "Admin")
{
    <div>
        <a asp-page="/Admin/BookingIndex">Tillbaka till bokningar</a>
    </div>
}
<div>
    <div>
    <a asp-page="/Bookings/BookingDetails" asp-route-id="@Model.Booking?.BookingId">Ändra</a>
</div>
@if (userRole == "Customer")
{
    <div>
        <a asp-page="/Customers/CustomerBookingIndex">Tillbaka till bokningar</a>
    </div>
}
</div>
